# === Python & System ===
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.idea/
.vscode/
.DS_Store

# === Сборка EXE (PyInstaller) ===
build/
dist/
*.spec

# === Пользовательские данные (Новая структура) ===
# Мы полностью игнорируем эту папку, так как она создается скриптом
user_data/

# === Старый мусор (на всякий случай, если остался) ===
profiles/
data/
logs/
scripts/
*.log
*.db
*.json
# Но исключаем из игнора наши системные JSON файлы, если они лежат в корне или ресурсах
!resources/*.json
!version.json

# Игнорируем скриншоты диагностики
*.png